*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.image-section {
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e8e3e8;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 25px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.container .img_div {
  width: calc(33% - 35px);
  margin-top: 40px;
  border-radius: 10px;
  max-height: 350px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}

.container .img_div img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container .img_div .image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.container .img_div .image__overlay:hover {
  opacity: 1;
}

.container .img_div .image__title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
}

.container .img_div .image__title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container .img_div .image__author {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 100;
}

.container .img_div .image__favorite {
  margin-top: 2em;
  display: inline-block;
}

.container .img_div .fav_button {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-size: 2em;
  font-weight: 100;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  background-color: none;
}

.img_div.shadow {
  -webkit-box-shadow: 3px 3px #ddd4dd;
          box-shadow: 3px 3px #ddd4dd;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    padding-left: 20px;
  }
  .container .img_div {
    width: calc(40% - 20px);
    margin-top: 20px;
    border-radius: 10px;
    height: 125px;
    margin-left: 35px;
    position: relative;
  }
  .container .img_div .image__title {
    margin-top: 10px;
    font-size: 0.5em;
    font-weight: bold;
  }
  .container .img_div .image__title::after {
    width: 50px;
    height: 1px;
  }
  .container .img_div .image__author {
    font-size: 0.5em;
    font-style: italic;
    font-weight: 100;
  }
  .container .img_div .image__favorite {
    margin-top: 1em;
    display: inline-block;
  }
  .container .img_div .fav_button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-size: 0.5em;
    font-weight: 100;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    background-color: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #e8e3e8;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-left: 20px;
    padding-bottom: 30px;
  }
  .container .img_div {
    width: calc(30% - 35px);
    margin-top: 40px;
    border-radius: 10px;
    max-height: 350px;
    margin-left: 40px;
    position: relative;
  }
  .container .img_div .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  .container .img_div .image__overlay:hover {
    opacity: 1;
  }
  .container .img_div .image__title {
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
  }
  .container .img_div .image__title::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .img_div .image__author {
    font-size: 1em;
    font-style: italic;
    font-weight: 100;
  }
  .container .img_div .image__favorite {
    margin-top: 1em;
    display: inline-block;
  }
  .container .img_div .fav_button {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-weight: 100;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    background-color: none;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #e8e3e8;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-right: 25px;
    padding-left: 40px;
    padding-bottom: 30px;
  }
  .container .img_div {
    width: calc(33% - 35px);
    margin-top: 40px;
    border-radius: 10px;
    max-height: 450px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
  }
  .container .img_div img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .container .img_div .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  .container .img_div .image__overlay:hover {
    opacity: 1;
  }
  .container .img_div .image__title {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  .container .img_div .image__title::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .container .img_div .image__author {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
  }
  .container .img_div .image__favorite {
    margin-top: 2em;
    display: inline-block;
  }
  .container .img_div .fav_button {
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-size: 2em;
    font-weight: 100;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    background-color: none;
  }
  .img_div.shadow {
    -webkit-box-shadow: 3px 3px #ddd4dd;
            box-shadow: 3px 3px #ddd4dd;
  }
}
/*# sourceMappingURL=style.css.map */